@font-face {
  font-family: "smom-icon"; /* Project id 4612682 */
  src: url('iconfont.woff2?t=1728112184408') format('woff2'),
       url('iconfont.woff?t=1728112184408') format('woff'),
       url('iconfont.ttf?t=1728112184408') format('truetype');
}

.smom-icon {
  font-family: "smom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.smom-icon-shangchuanfabu:before {
  content: "\e634";
}

.smom-icon-xuanzefabu:before {
  content: "\e669";
}

.smom-icon-duoyuanfabu:before {
  content: "\e60a";
}

.smom-icon-shengchengqi:before {
  content: "\e6ef";
}

.smom-icon-bianyizhong:before {
  content: "\e78f";
}

.smom-icon-bianyigongcheng:before {
  content: "\e6e0";
}

.smom-icon-tfs:before {
  content: "\e65f";
}

.smom-icon-beifenjilu:before {
  content: "\e617";
}

.smom-icon-shujuhuanyuan:before {
  content: "\e63f";
}

.smom-icon-database:before {
  content: "\e63e";
}

.smom-icon-fabu:before {
  content: "\e631";
}

.smom-icon-smom:before {
  content: "\e9db";
}

.smom-icon-fuwuqi:before {
  content: "\e6a4";
}

.smom-icon-chengxuji:before {
  content: "\e61b";
}

.smom-icon-yijianfabu:before {
  content: "\e608";
}

.smom-icon-shoudongfabu:before {
  content: "\e60d";
}

.smom-icon-bianyixiangmu:before {
  content: "\e613";
}

.smom-icon-appconfig:before {
  content: "\e60c";
}

.smom-icon-zhankaiquanping:before {
  content: "\e639";
}

.smom-icon-guanbiquanping:before {
  content: "\e92c";
}

.smom-icon-quanping:before {
  content: "\e62f";
}

.smom-icon-qiehuan-zhongwen:before {
  content: "\e618";
}

.smom-icon-qiehuan-yingwen:before {
  content: "\e616";
}

.smom-icon-peizhi:before {
  content: "\e601";
}

.smom-icon-zujiandaxiao:before {
  content: "\e853";
}

.smom-icon-pingtai:before {
  content: "\e60b";
}

.smom-icon-xiangmuguanli:before {
  content: "\e600";
}

