@font-face {
  font-family: "smom-icon"; /* Project id 5100865 */
  src: url('iconfont.woff2?t=1767088286353') format('woff2'),
       url('iconfont.woff?t=1767088286353') format('woff'),
       url('iconfont.ttf?t=1767088286353') format('truetype');
}

.smom-icon {
  font-family: "smom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.smom-icon-git:before {
  content: "\e61a";
}

.smom-icon-zhankaiquanping:before {
  content: "\e611";
}

.smom-icon-shoudongfabu:before {
  content: "\e612";
}

.smom-icon-guanbiquanping:before {
  content: "\e613";
}

.smom-icon-smom:before {
  content: "\e614";
}

.smom-icon-pingtai:before {
  content: "\e615";
}

.smom-icon-qiehuan-yingwen:before {
  content: "\e616";
}

.smom-icon-fuwuqi:before {
  content: "\e617";
}

.smom-icon-duoyuanfabu:before {
  content: "\e618";
}

.smom-icon-shangchuanfabu:before {
  content: "\e619";
}

.smom-icon-xuanzefabu:before {
  content: "\e603";
}

.smom-icon-peizhi:before {
  content: "\e601";
}

.smom-icon-xiangmuguanli:before {
  content: "\e602";
}

.smom-icon-appconfig:before {
  content: "\e604";
}

.smom-icon-shujuhuanyuan:before {
  content: "\e605";
}

.smom-icon-quanping:before {
  content: "\e606";
}

.smom-icon-database:before {
  content: "\e607";
}

.smom-icon-shengchengqi:before {
  content: "\e608";
}

.smom-icon-bianyigongcheng:before {
  content: "\e609";
}

.smom-icon-qiehuan-zhongwen:before {
  content: "\e60a";
}

.smom-icon-yijianfabu:before {
  content: "\e60b";
}

.smom-icon-tfs:before {
  content: "\e60c";
}
.smom-icon-git:before {
  content: "\e61a";
}

.smom-icon-chengxuji:before {
  content: "\e60d";
}

.smom-icon-zujiandaxiao:before {
  content: "\e60e";
}

.smom-icon-beifenjilu:before {
  content: "\e60f";
}

.smom-icon-fabu:before {
  content: "\e610";
}

